<div class="wrapper">
  <form (ngSubmit)="loginForm.valid && validateUser(loginForm)" class="form-wrapper" #loginForm="ngForm">
    <span class="login-title">Log In</span>
    <div class="username-wrapper">
      <label class="username-label">Username:</label>
      <input id="username"
             name="username"
             type="text"
             placeholder="Username..."
             class="username-field"
             [(ngModel)]="username"
      >
    </div>
    <div class="password-wrapper">
      <label class="password-label">Password:</label>
      <input id="password"
             name="password"
             type="password"
             placeholder="Password..."
             class="password-field"
             [(ngModel)]="password"
      >
    </div>
  </form>
</div>
