<div class="wrapper">
  <div class="column-wrapper">
    <div class="left">
      <span class="title">Inventory Nexus</span>
      <span class="subtitle">© 2026 All Rights Reserved</span>
      <span class="tagline">Your One-Stop Shop for All Your Inventory Needs</span>
      <span class="tagline">Connect with Us:</span>
      <div class="social-media-icons">
        <a class="link" href="https://www.facebook.com" target="_blank">Facebook</a>
        <a class="link" href="https://www.twitter.com" target="_blank">Twitter</a>
        <a class="link" href="https://www.instagram.com" target="_blank">Instagram</a>
      </div>
    </div>
    <div class="right">
      <div class="left-column">
        <a class="link" routerLink = "/">Home</a>
        <a class="link" routerLink = "/contact">ContactForm</a>
        <a class="link" routerLink = "/about">About</a>
      </div>
      <div class="middle-column">
        <a class="link" routerLink = "/products">Products</a>
        <a class="link" routerLink = "/orders">Orders</a>
        <a class="link" routerLink = "/ordersitems">Order Items</a>
        <a class="link" routerLink = "/customers">Customers</a>
      </div>
      <div class="right-column">
        <a class="link" routerLink = "/login">Login</a>
        <a class="link" routerLink = "/register">Register</a>
        <a class="link" routerLink = "/forgot-password">Forgot Password</a>
        <a class="link" routerLink = "/logout">Logout</a>
      </div>
    </div>
  </div>
</div>
