<div class="component-wrapper">
    @if (isLoading) {
        <div class="loading-spinner">
            <mat-spinner diameter="50"></mat-spinner>
        </div>
    } @else if (dataSource.data.length === 0) {
        <div class="no-orders-message">No orders found.</div>
    } @else {

        <div class="table-wrapper">
            <table mat-table
                   [dataSource]="dataSource" multiTemplateDataRows
                   class="mat-elevation-z8">
                @for (column of displayedColumns; track column) {
                    <ng-container matColumnDef="{{column}}">
                        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
                    </ng-container>
                }
                <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                        <button
                                matIconButton
                                aria-label="expand row"
                                (click)="toggleExpandedOrder(element); $event.stopPropagation()"
                                class="example-toggle-button"
                                [class.example-toggle-button-expanded]="isExpanded(element)">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsExpanded.length">
                        <div class="example-element-detail-wrapper"
                             [class.example-element-detail-wrapper-expanded]="isExpanded(element)">
                            <div class="example-element-detail">
                                <span class="order-details-header">Order Details</span>
                                <table class="order-detail-items-table">
                                    <thead>
                                    <tr class="order-detail-item-table-row">
                                        <th class="order-detail-item">Item</th>
                                        <th class="order-detail-sku">SKU</th>
                                        <th class="order-detail-qty">Quantity</th>
                                        <th class="order-detail-price">Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        @for (item of element.orderItems; track item) {
                                            <tr class="order-detail-item-table-row">
                                                <td class="order-detail-item">{{ item.title }}</td>
                                                <td class="order-detail-sku">{{ item.sku }}</td>
                                                <td class="order-detail-qty">{{ item.quantity }}</td>
                                                <td class="order-detail-price">{{ item.price }}</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsExpanded"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumnsExpanded;"
                    class="example-element-row"
                    [class.example-expanded-row]="isExpanded(element)"
                    (click)="toggleExpandedOrder(element)">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>

        </div>
    }

</div>
<!--
<h2>Order Details</h2>
              <table class="order-detail-items-table">
                <tr class="order-detail-item-table-row">
                  <th class="order-detail-item-table-header">Item</th>
                  <th class="order-detail-item-table-header">SKU</th>
                  <th class="order-detail-item-table-header">Quantity</th>
                  <th class="order-detail-item-table-header">Price</th>
                </tr>
                @for (item of element.orderItems; track item) {
                  <tr class="order-detail-item-table-row">
                    <td class="order-detail-item-table-cell">{{ item.title }}</td>
                    <td class="order-detail-item-table-cell">{{ item.sku }}</td>
                    <td class="order-detail-item-table-cell">{{ item.quantity }}</td>
                    <td class="order-detail-item-table-cell">{{ item.price }}</td>
                  </tr>
                }
              </table>
-->
