/* You can add global styles to this file, and also import other style files */
:root {

  --color-primary: #9DCBBA;
  --color-primary-alt: #9de1c8;
  --color-secondary: #2E282A;
  --color-accent: #EF3E36;
  --color-accent-2: #F5BB00;
  --color-primary-hover: #3185FC;

  --border-radius: .5rem;
  --shadow-sm: 0 1.125rem 1.25rem #2E282AFF;
  --shadow-lg: 0 5.125rem 5.25rem #2E282AFF;
  --font: 'Inter', sans-serif;

  color-scheme: light;
}

.dark {
  --color-primary: #1F2E28;
  --color-primary-alt: #1f3232;
  --color-secondary: #9DCBBA;
  --color-accent: #B80C09;
  --color-accent-2: #E98A15;
  --color-primary-hover: #226CE0;

  color-scheme: dark;
}

body {
  height: 100%;
  font-family: inter, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.03rem;
  margin: 0;
  padding: 0;
}

.page-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:host, router-outlet + * {
  flex: 1 1 auto;
  display: flex;
}
